// Заголовки, общие БЄМ блоки и проче...

// block-text ====================================================================================================//

.block-text {

	&__image {
		@include adaptiveValue("padding-bottom", 34, 20);
	}

	&__title {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%;
		font-weight: 700;
		letter-spacing: 3.6px;
		color: #353738;
		@include adaptiveValue("padding-bottom", 35, 20);
	}

	&__text {
		@include adaptiveValue("font-size", 18, 14);
		line-height: 150%
	}
}


// image-decore ====================================================================================================//

.image-decore {
	transition: all 0.3s ease 0s;
	&:hover {
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(90, 171, 122, 0.5);
			z-index: 2;
		}
		.logo-decore {
			opacity: 1;
			visibility: visible;
		}
	}
}

.logo-decore {
	transition: all 0.3s ease 0s;
	position: absolute;
	z-index: 3;
	width: 113px;
	height: 118px;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	background-color: rgba (100, 194, 158, 0.5);
	opacity: 0;
	visibility: hidden;
}