
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #8dc5a4;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			//height: 70px; // Высота шапки
			//background-color: #912105;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}

//  ====================================================================================================//

.header {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__container {
	}

	&__menu {
		display: flex;
		flex-direction: column;
	}
}
.menu {
	padding: 15px 0px 0px 0px;
	min-height: 85px;

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767px) {
			display: block;
			text-align: center;
			li {
				color: $green;
				&:not(:last-child){
					margin: 0px 0px 20px 0px;
				}
			}
		}
	}

	&__icon {
		align-self: flex-end;
	}
}
.menu-link {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	@media (max-width: 767px) {
		&__logo {
		display: none;
		}
		font-size: 30px;
	}
	transition: all 0.3s ease 0s;
	&:hover {
		color: #5aab7a;
	}
}
