
.wrapper {
	//min-height: 100vh;
}

.page {
	//padding: 0px 0px 200px 0px;
	//position: absolute;
	//width: 100%;
	//height: 100%;
	//top: 0;
	//left: 0;
	//display: flex;  //!!! Делаем флексом чтобы main-screen смог стать FULL
	//flex-direction: column;
}

// main-screen ====================================================================================================//

.main-screen {
	//position: relative;
	//	margin: 0 auto;
		//display: flex;
		//justify-content: center;
		//&__bg {
		//	img {
		//		max-height: 100vh;
		//	}
		//}
	
}

.main-screen {
	min-height: 100vh;
	flex: 1 0 100%;   //!!! Позволяем увеличиваться, запрещаем уменьшаться
	position: relative;
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}


// new-generation ====================================================================================================//

.new-generation {
	background-color: #f7f7f7;
	@include adaptiveValue("padding-top", 117, 30);
	@include adaptiveValue("padding-bottom", 142, 30);

	&__text-block {
		//margin: 0 auto;
		//max-width: 1110px;
		text-align: center;
	}
}

// vintage-olivia ====================================================================================================//

.vintage-olivia {
	max-width: 100%;

	&__body {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__image {
		position: relative;
		flex: 0 1 66.667%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			display: block;
		}
	}

	&__content {
		@include adaptiveValue("padding-top", 30, 20);
		display: flex;
		flex-direction: column;
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__text-block {
		text-align: center;
		@include adaptiveValue("padding-right", 70, 10, 2000, 1000, 1);
		@include adaptiveValue("padding-left", 70, 10, 2000, 1000, 1);
		@include adaptiveValue("padding-bottom", 80, 30);
	}

	&__bottom-ibg {
		flex: 0 1 50%;
		padding: 0px 0px 38% 0px;
	}
}
.item {
	position: relative;

	&__logo {
	}

	&__image-ibg {
		display: block;
		height: 100%;
		@media (max-width: 767px) {
			padding: 50% 0px;
		}
	}
}

// boriosa ====================================================================================================//

.boriosa {

	&__body {
		display: flex;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__text-block {
		text-align: center;
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 30);
		@include adaptiveValue("padding-right", 60, 15, 1500, 767, 1);
		@include adaptiveValue("padding-left", 60, 15, 1500, 767, 1);
	}

	&__bottom-ibg {
		padding: 0px 0px 38% 0px;
	}
}
.boriosa {

	&__image {
		position: relative;
		flex: 0 1 66.667%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
}

// hulot ====================================================================================================//

.hulot {

	&__body {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__image {
		position: relative;
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			&_1 {
				order: 2;
			}
			&_2 {
				order: 3;
			}
		}
	}

	&__content {
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__text-block {
		text-align: center;
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 30);
		@include adaptiveValue("padding-left", 60, 15, 1500, 767, 1);
		@include adaptiveValue("padding-right", 60, 15, 1500, 767, 1);
	}

	&__bottom-ibg {
		padding: 0px 0px 38% 0px;
	}
}

.item {

	&__logo {
	}

	&__image-ibg {
		height: 100%;
	}
}

// comments ====================================================================================================//

.comments {
	@include adaptiveValue("padding-top", 124, 30);
	@include adaptiveValue("padding-bottom", 150, 30);

	&__container {
	}

	&__body {
		text-align: center;
	}

	&__icon {
		@include adaptiveValue("padding-bottom", 37, 20);
	}

	&__title {
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 1.8px;
		span {
			font-weight: 700;
			color: #353738;
		}
		@include adaptiveValue("padding-bottom", 27, 20);
	}

	&__text {
		@include adaptiveValue("font-size", 24, 16);
		line-height: 141.666667%; /* 34/24 */
		font-style: italic;
	}
}

// discover ====================================================================================================//

.discover {

	&__top {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__bottom {
	}
}

.discover-top {
	@include adaptiveValue("height", 1333, 255, 4000, 767, 2);
	width: 100%;
	&__column {
		flex: 0 1 33.333%;
		@media (max-width: 767px) {
			flex: 0 1 66.666%;
		}

		&_l {
			flex: 0 1 16.666%;
			@media (max-width: 767px) {
				flex: 0 1 33.333%;
			}
		}
	}

	&__twice {
		display: flex;
	}

	&__alone {
	}

	&__image {
		position: relative;
		
	}
}

.discover-top-twice {
	height: 50%;

	&__column {
		flex: 0 1 50%;
	}

	&__image {
		position: relative;
	}
}

.discover-top-alone {
	position: relative;
	height: 50%;

	&__image {
	}
}

.item {

	&__logo {
	}

	&__image-ibg {
	}
}
.logo-decore {
}
.discover-top-alone {

	&__image {
	}
}

.discover-bottom {
	@include adaptiveValue("padding-top", 94, 30);
	@include adaptiveValue("padding-bottom", 94, 30);
	background-color: #282f35;
	display: flex;
	justify-content: center;

	&__button {
		line-height: 150%;
		text-align: center;
		width: 300px;
		@include adaptiveValue("width", 300, 250, 767, 320, 1);
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 2.8px;
		color: #fff;
		padding: 20px 0px;
		border: solid 1px rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #1a1e22;
		}
	}
}

// saddle ====================================================================================================//

.saddle {
	@include adaptiveValue("padding-top", 110, 30);
	@include adaptiveValue("padding-bottom", 110, 30);

	&__container {
	}

	&__body {
	}

	&__image {
		display: flex;
		max-width: 95px;
		margin: 0 auto;
		@include adaptiveValue("padding-bottom", 40, 30);
	}

	&__text {
		display: flex;
		justify-content: center;
		@include adaptiveValue("font-size", 24, 18);
		font-style: italic;
		line-height: 141.666667%; /* 34/24 */
		@include adaptiveValue("padding-bottom", 35, 30);

	}

	&__form {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		position: relative;
		max-width: 526px;
		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__input {
		border: solid 1px #d3d7d9;
		padding: 28px 0px 28px 28px;
		width: 400px;
		font-size: 20px;
		font-style: italic;
		color: #929292;
		@media (max-width: 500px) {
			width: 100%;
		}
	}
	&__button {
		font-size: 24px;
		font-weight: 300;
		line-height: 100%;
		padding: 26px 45px;
		color: #fff;
		background-color: #64c29e;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #42a882;
		}
	}
}



.form {
	&__error {
		position: absolute;
		bottom: -20px;
		left: 0;
		color: red;
		font-size: 16px;
	}
}