
.wrapper {
	//min-height: 100vh;
}

.page {
	//padding: 0px 0px 200px 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;  //!!! Делаем флексом чтобы main-screen смог стать FULL
	flex-direction: column;
}

// main-screen ====================================================================================================//

//.main-screen {
//	//position: relative;
//		//margin: 0 auto;
//		//min-height: 100vh;
//		display: flex;
//		justify-content: center;
//		&__bg {
//			img {
//				max-height: 100vh;
//			}
//		}
	
//}
.main-screen {
	flex: 1 0 100%;   //!!! Позволяем увеличиваться, запрещаем уменьшаться
	position: relative;
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}


// new-generation ====================================================================================================//

.new-generation {
	background-color: #f7f7f7;
	@include adaptiveValue("padding-top", 117, 50);
	@include adaptiveValue("padding-bottom", 142, 50);

	&__text-block {
		//margin: 0 auto;
		//max-width: 1110px;
		text-align: center;
	}
}

// vintage-olivia ====================================================================================================//

.vintage-olivia {
	max-width: 100%;

	&__body {
		display: flex;
		//height: 600px;
	}

	&__image-ibg {
		//height: 100%;
		position: relative;
		flex: 0 1 66.667%;
		&:hover {
			.item__logo {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__content {
		@include adaptiveValue("padding-top", 30, 20);
		display: flex;
		flex-direction: column;
		flex: 0 1 33.333%;
		//align-self: flex-end;
	}

	&__text-block {
		text-align: center;
		@include adaptiveValue("padding-right", 70, 10, 2000, 1000, 1);
		@include adaptiveValue("padding-left", 70, 10, 2000, 1000, 1);
		@include adaptiveValue("padding-bottom", 80, 50);
	}

	&__bottom-ibg {
		flex: 0 1 50%;
		padding: 0px 0px 38% 0px;
	}
}
.item {
	position: relative;

	&__logo {
		transition: all 0.3s ease 0s;
		position: absolute;
		z-index: 3;
		width: 113px;
		height: 118px;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		background-color: rgba (100, 194, 158, 0.5);
		opacity: 0;
		visibility: hidden;
	}

	&__image {
		&:hover {
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(90, 171, 122, 0.5);
				z-index: 2;
			}
		}
	}
}
