html, body {
	//height: 100%;
}

.wrapper {
	//min-height: 100vh;
}

.page {
}
.main-screen {
	//position: relative;
		//margin: 0 auto;
		//min-height: 100vh;
		display: flex;
		justify-content: center;
		&__bg {
			img {
				max-height: 100vh;
			}
		}
	
}

